body {
background: rgb(0, 0, 0);
font: normal 15pt Arial;
}

header
{
color: rgb(243, 242, 242);
text-align: center;
text-shadow: 2px 2px 2px rgb(255, 126, 5);
font: bold 20pt serif;
}

section {
background: rgba(255, 255, 255, 0.781);
border-radius: 10px;
padding: 15px;
width: 90%;
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.527);
text-align: center;
max-width: 500px;
display: grid;
}

div#msg {
    width: 250px;
    margin: auto;
    text-shadow: 3px;
}

img#imagem {
    width: 90%;
    max-width: 285px;
    margin: auto;
    text-shadow: 3px;
    display: grid;
}

footer {
color: rgb(255, 255, 255);
text-align: center;
text-shadow: 5px 5px 5px black;
font-style: italic;
font-size: small;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

video#myVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
